Django==5.2.7
gunicorn>=22.0.0
psycopg[binary,pool]>=3.1
whitenoise>=6.6
pgeocode>=0.3
openpyxl>=3.11
weasyprint>=61.0
pillow>=10.1
djangorestframework>=3.14
django-cors-headers>=4.3
django-extensions>=3.2
